nav#menu
  h1 Menu Principal
  ul
    li(onmouseover="mudaFoto('/images/home.png')", onmouseout="mudaFoto("+caminhoImg+")")
      a(href='/') Home
    li(onmouseover="mudaFoto('/images/especificacoes.png')", onmouseout="mudaFoto("+caminhoImg+")")
      a(href='specs') Especificações
    li(onmouseover="mudaFoto('/images/fotos.png')", onmouseout="mudaFoto("+caminhoImg+")")
      a(href='fotos') Fotos
    li(onmouseover="mudaFoto('/images/multimidia.png')", onmouseout="mudaFoto("+caminhoImg+")")
      a(href='multimidia') Multimídia
    li(onmouseover="mudaFoto('/images/contato.png')", onmouseout="mudaFoto("+caminhoImg+")")
      a(href='faleconosco') Fale conosco
//- nav#menu
//-   h1 Menu Principal
//-   ul
//-     li(onmouseover="mudaFoto('/images/home.png')", onmouseout="mudaFoto('/images/glass-oculos-preto-peq.png')")
//-       a(href='/') Home
//-     li(onmouseover="mudaFoto('/images/especificacoes.png')", onmouseout="mudaFoto('/images/glass-oculos-preto-peq.png')")
//-       a(href='specs') Especificações
//-     li(onmouseover="mudaFoto('/images/fotos.png')", onmouseout="mudaFoto('/images/glass-oculos-preto-peq.png')")
//-       a(href='fotos') Fotos
//-     li(onmouseover="mudaFoto('/images/multimidia.png')", onmouseout="mudaFoto('/images/glass-oculos-preto-peq.png')")
//-       a(href='multimidia') Multimídia
//-     li(onmouseover="mudaFoto('/images/contato.png')", onmouseout="mudaFoto('/images/glass-oculos-preto-peq.png')")
//-       a(href='faleconosco') Fale conosco
      