footer#rodape
      p
        | Copyright© 2019 - by #{desenvolvedor}
        br
        a(href='http://facebook.com/cursosemvideo', target='_blank') Facebook
        a(href='http://twitter.com/cursosemvideo', target='_blank')  | Twitter 

