extends layout

block content

  #interface
    header#cabecalho
      hgroup
        h1 Google Glass
        h2 A revolução do Google está chegando
      img#icone(src='/images/contato.png')
      include partials/menu.pug
    section#corpo-full
      article#noticia-principal
        header#cabecalho-artigo
          hgroup
            h3 Fale Conosco >          Contato
            h1 Formulário de Contato
            h2 por Gustavo Guanabara
            h3.direita Atualizado em 01/Maio/2013
        form#fContato(method='post', action='mailto:carlapsa05@gmail.com')
          fieldset#usuario
            legend Identificação do Usuário
            p
              label(for='cNome') Nome:
              input#cNome(type='text', name='tNome', size='20', maxlength='30', placeholder='Nome Completo')
            p
              label(for='cSenha') Senha:
              input#cSenha(type='password', name='tSenha', size='8', maxlength='8', placeholder='8 dígitos')
            p
              label(for='cMail') E-mail:
              input#cMail(type='email', name='tMail', size='20', maxlength='40')
            fieldset#sexo
              legend
                label(for='tSexo') Sexo:
              input#cMasc(type='radio', name='tSexo', checked='')
              label(for='cMasc') Masculino
              br
              input#cFem(type='radio', name='tSexo')
              label(for='cFem') Feminino
            p
              label(for='cNasc') Data de Nascimento:
              input#cNasc(type='date', name='tNasc')
          fieldset#endereco
            legend Endereço do Usuário
            p
              label(for='cRua') Logradouro:
              input#cRua(type='text', name='tRua', size='13', maxlength='80', placeholder='Rua, Avenida, Travessa...')
            p
              label(for='cNum') Número:
              input#cNum(type='number', name='tNum', min='0', max='99999')
            p
              label(for='cEst') Estado:
              select#cEst(name='tEst')
                optgroup(label='Região Centro-Oeste')
                  option(value='GO') Goiás
                  option(value='MT') Mato Grosso
                  option(value='DF') Distrito Federal
                optgroup(label='Região Sudeste')
                  option(value='RJ') Rio de Janeiro
                  option(value='SP', selected='') São Paulo
                  option(value='MG') Minas Gerais
                optgroup(label='Região Sul')
                  option(value='PR') Paraná
                  option(value='SC') Santa Catarina
                  option(value='RS') Rio Grande do Sul
            p
              label(for='cCid') Cidade:
              input#cCid(type='text', name='tCid', size='20', maxlength='40', placeholder='Sua cidade', list='cidades')
            datalist#cidades
              option(value='Rio De Janeiro')
              option(value='Nova Iguaçu')
              option(value='Belford Roxo')
          fieldset#mensagem
            legend Mensagem do Usuário
            p
              label(for='cUrg') Grau de Urgência:
              |                                             Mín
              input#cUrg(type='range', name='tUrg', min='0', max='10', step='2')
              | Máx
            p
              label(for='cMsg') Mensagem:
              textarea#CMsg(name='tMsg', cols='45', rows='5', placeholder='Digite sua mensagem')
          fieldset#pedido
            legend Quero um Google Glass
            p
              label(for='cPed') Gostaria de adquirir um Google Glass quando disponível
            p
              label(for='cCor') Cor:
            p
              label(for='CQtd') Quantidade:
            p
              label(for='CTot') Preço Total: R$
          |                         [BOTÃO ENVIAR]
        include partials/rodape.pug
