extends layout

block content
  #interface
    header#cabecalho
      hgroup
        h1 Google Glass
        h2 A revolução do Google está chegando
      img#icone(src='/images/fotos.png')
      include partials/menu.pug
    section#corpo-full
      article#noticia-principal
        header#cabecalho-artigo
          hgroup
            h3 Glass >          Fotos
            h1 Galeria de Imagens do Google Glass
            h2 por Gustavo Guanabara
            h3.direita Atualizado em 01/Maio/2013
        p
          | Veja na nossa galeria de fotos várias belas imagens que mostram algumas das principais características do Google Glass, como recursos e propriedades que estão impressionando o mundo inteiro. Basta passar o mouse sobre uma das fotos para ver uma versão ampliada e com uma breve descrição.
        ul#album-fotos
          li#foto01
            spam Agenda e lembretes
          li#foto02
            spam Sergey Brin usando o Glass
          li#foto03
            spam Leve e compacto
          li#foto04
            spam Sensação de uma tela de 50"
          li#foto05
            spam Vários tipos de lente
          li#foto06
            spam Informações importantes
    include partials/rodape.pug 
