extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  #interface
    header#cabecalho
      hgroup
        h1 Google Glass
        h2 A revolução do Google está chegando
      img#icone(src='/images/glass-oculos-preto-peq.png')
      include partials/menu.pug
    section#corpo
      article#noticia-principal
        header#cabecalho-artigo
          hgroup
            h3 Tecnologia >          Inovações
            h1 Saiba tudo sobre o Google Glass
            h2 por Gustavo Guanabara
            h3.direita Atualizado em 23/Abril/2013
        h2 O que é
        p
          | O 
          span(style='font-weight: 900;') Google Glass
          |  é um acessório em forma de óculos que possibilita a interação dos usuários com diversos conteúdos em realidade aumentada. Também chamado de 
          a(href='http://glass.google.com', target='_blank') Project Glass
          | , o eletrônico é capaz de tirar fotos a partir de comandos de voz, enviar mensagens instantâneas e realizar vídeo­con­ferên­cias. Seu lançamento está previsto para 2014, e seu preço deve ser de US$ 1,5 mil. Atualmente o 
          em Google Glass
          |  encontra-se em fase de testes e já possui um vídeo totalmente gravado com o dispositivo. Além disso, a companhia de buscas registrou novas patentes anti-furto e de desbloqueio de tela para o acessório.
        figure.foto-legenda
          img(src='/images/glass-quadro-homem-mulher.jpg')
          figcaption
            h3 Google Glass
            p Uma nova maneira de ver o mundo.
        h2 Data de lançamento
        p
          | Não há uma data específica e oficial para o dispositivo ser lançado, ainda. Pode ser que ele esteja disponível em demonstrações a partir de 2013, mas seu lançamento para as lojas fica para, pelo menos, 2014.
        h2 Especificações Técnicas
        table#tabelaspec
          caption
            | Tabela Técnica do Google Glass 
            span Mar/2013
          tbody
            tr
              td.ce Tela
              td.cd Resolução equivalente a tela de 25"
            tr
              td.ce(rowspan='2') Camera
              td.cd 5MP para fotos
            tr
              td.cd 720p para vídeos
            tr
              td.ce(rowspan='2') Conectividade
              td.cd Wi-Fi
            tr
              td.cd Bluetooth
            tr
              td.ce Memória Interna
              td.cd 12GB
        h2 Como funciona
        p
          | De acordo com fontes próximas do Google, os óculos vão contar com uma pequena tela de LCD ou AMOLED na parte superior e em frente aos olhos do usuário. Com o uso de uma câmera e GPS, você pode se situar, assim como selecionar opções com o movimento da cabeça.
        h2 O que você pode fazer com o Google Glasses
        p
          | O vídeo de divulgação do Google mostra que você pode se transformar em uma espécie de “super-
          wbr
          | humano”, já que o aparelho pode indicar a quantos metros você está de seu destino, se o metrô está aberto ou fechado, mostrar o clima, agenda e até mesmo permitir que você marque encontros apenas com comandos de voz.
        #video01
          video#video01(controls='controls', poster='/images/video-mini01.jpg')
            source(src='/media/one-day.mp4', type='video/mp4')
            source(src='/media/one-day.webm', type='video/webm')
            source(src='/media/one-day.ogv', type='video/ogg')
            |                             Desculpe, mas não foi possível carregar o seu vídeo.
    aside#lateral
      h1 Outras Notícias
      h2 Vídeo mais recente
      #video02
        video#video02(controls='controls', poster='/images/video-mini02.jpg')
          source(src='/media/how-it-feels.mp4', type='video/mp4')
          source(src='/media/how-it-feels.webm', type='video/webm')
          source(src='/media/how-it-feels.ogv', type='video/ogg')
          |                           Desculpe, mas não foi possível carregar o seu vídeo.
      h2 Novidades no Glass
      p
        | O Google enfim revelou as especificações completas do Google Glass, e com ele uma surpresa ainda inédita no mercado: a gigante das buscas usará um sistema de áudio baseado na transdução por condução. Através das hastes dos óculos, o som será transmitido para o ouvido do usuário por meio de microvibrações em determinados ossos de sua cabeça, sem usar nenhum tipo de alto-falante.
      p
        | Além da surpresa do áudio, a tela montada a frente do olho do usuário também chamou atenção. Serão 640 x 360 pixels de resolução que, em proporção, equivaleria a um monitor de 25 polegadas de alta definição colocado a 2,5 metros de distância do espectador.
    include partials/rodape.pug
    //- footer#rodape
    //-   p
    //-     | Copyright© 2013 - by Gustavo Guanabara 
    //-     br
    //-     a(href='http://facebook.com/cursosemvideo', target='_blank') Facebook
    //-     a(href='http://twitter.com/cursosemvideo', target='_blank')  | Twitter 
