doctype html
html(lang='pt-br')
  head
    meta(charset='UTF-8')
    title Tudo sobre Google Glass
    link(rel='stylesheet', href='/stylesheets/estilo.css')
    //- link(rel='stylesheet', href='_css/estilo.css')
    script(type='text/javascript', src='/javascripts/funcoes.js')
  body
    block content

