extends layout

block content

  #interface
    header#cabecalho
      hgroup
        h1 Google Glass
        h2 A revolução do Google está chegando
      img#icone(src='/images/multimidia.png')
      include partials/menu.pug
    section#corpo-full
      article#noticia-principal
        header#cabecalho-artigo
          hgroup
            h3 Glass >          Multimídia
            h1 Sons e Vídeos
            h2 por Gustavo Guanabara
            h3.direita Atualizado em 01/Maio/2013
        #tv-radio
          audio#musica(controls='controls')
            source(src='/media/2009-lovers-carvings-bibio.mp3', type='audio/mpeg')
            source(src='/media/2009-lovers-carvings-bibio.m4a', type='audio/x-aac')
            source(src='/media/2009-lovers-carvings-bibio.ogg', type='audio/ogg')
            | 						Desculpe, mas não foi possível carregar o seu áudio.
          video#filme(controls='controls', poster='_imagens/video-mini03.jpg')
            source(src='/media/getting-started.mp4', type='video/mp4')
            source(src='/media/getting-started.webm', type='video/webm')
            source(src='/media/getting-started.ogv', type='video/ogg')
            | 						Desculpe, mas não foi possível carregar o seu vídeo.
          iframe(width='560', height='315', src='https://www.youtube.com/embed/4EvNxWhskf8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    include partials/rodape.pug 
        
