extends layout

block content

  #interface
    header#cabecalho
      hgroup
        h1 Google Glass
        h2 A revolução do Google está chegando
      img#icone(src='/images/especificacoes.png')
      include partials/menu.pug
    section#corpo-full
      article#noticia-principal
        header#cabecalho-artigo
          hgroup
            h3 Glass >          Especificações
            h1 Raio-X no Google Glass
            h2 por Gustavo Guanabara
            h3.direita Atualizado em 01/Maio/2013
        p
          | Clique em qualquer área destacada da imagem para ter mais informações sobre os recursos do Google Glass. Qualquer ponto vermelho vai te levar a um lugar cheio de novas informações.
        section#conteudo
          img(src='_imagens/glass-esquema-marcado.jpg', usemap='#meumapa')
          map(name='meumapa')
            area(shape='rect', coords='181,206,269,257', href='google-glass.html#tela', target='janela')
            area(shape='circle', coords='157,244,12', href='google-glass.html#camera', target='janela')
            area(shape='circle', coords='76,52,12', href='google-glass.html#gadgets', target='janela')
            area(shape='poly', coords='28,147,82,215,82,250,26,167', href='google-glass.html#sensores', target='janela')
          iframe#frame-spec(src='google-glass.html', name='janela')
    include partials/rodape.pug 
    
